.LaserHairRemovalwrapper{
    display: grid;
    grid-template-areas: 
    "p p"
    "c c"
    "i i"
  ;
   
   grid-template-columns: 5fr 5fr   ;
   }
   .w{
       grid-area:w;
      float: left;
      margin-left: 100px;
      
   }
   .w p{
     margin-top: 15px;
    margin-left: 200px;
   }
   .w img{
    margin-top: 20px;
   }
   .m{
       
       grid-area:m;
       margin-right: 200px;
       float: right;
    
       ;
       
   }
   .m p{
    margin-top: 15px;
    margin-left: 200px;
   }
   .m img{
    margin-top: 20px;
   }
   .p{
    grid-area:p;

    align-items: center;
    margin-bottom: 60px;
   
    
;
}
.p h1{
    margin-top: 50px;
    margin-left: 700px
}
.c{
    grid-area:c; 
    background-color: rgb(250, 236, 238);
    display: flex;
}
