.wrapper {
    display: grid;
    grid-template-areas:
        "p p"
        "c c"
        "i i";
    margin: 0 auto;
}
.Women {
    grid-area: w;
    float: left;
    margin-left: 100px;
}
.Women_P {
    margin-top: 15px;
    margin-left: 200px;
}
.Women img {
    margin-top: 20px;
}
.Men {
    grid-area: m;
    margin-right: 200px;
    float: right;
}
.Men_p {
    margin-top: 15px;
    margin-left: 200px;
}
.Men img {
    margin-top: 20px;
}
.Title_Conteiner {
    grid-area: p;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}
.Title {
    text-align: center;
    margin: 0 auto;
}
.Gender_Conteiner {
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    grid-area: c;
    background-color: rgb(250, 236, 238);
    display: flex;
}
