.wrapper {
  background-color: rgb(250, 236, 238);
}
.slider {
  background-color: rgb(250, 236, 238);

  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 1400px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  float: right;

  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  z-index: 1;
  font-size: 3rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
