.wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    background: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
}
.Header_Menu_Conteiner {
    margin: auto 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.Header_List {
    margin: auto 0;
    display: flex;
    align-items: center;
}

.SignUp_Conteiner {
    border-radius: 20px;
    margin: auto 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(58, 53, 53);
}
.SignUp_Link {
    border-radius: 20px;
    background-color: rgb(58, 53, 53);
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.Header_Logo_Conteiner {
    width: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: -200px;
}
.Head_Menu_link {
    margin-left: 20px;
    color: gray;
    text-decoration: none;
    font-size: 18px;
}
.Profile_conteiner {
    margin: auto -40px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.Profile_Name {
    width: 50px;
    font-size: 20px;
    color: rgb(65, 66, 66);
    text-decoration: none;
}
.Profile_Logo_Conteiner {
    margin: auto 0px;
    color: green;
    text-decoration: none;
}
.Header_Logo {
    width: 70px;
    border-radius: 25px;
}
.Profile_Logo {
    width: 60px;
    border-radius: 29px;
}
.Profile_Logo_Conteiner a {
    color: white;
}
.Cart_conteiner {
    margin: auto 50px;
    display: flex;
    align-items: center;
    color: white;
}
.Cart_Logo_Conteiner {
    color: white;
    text-decoration: none;
}
.Cart_logo {
    width: 30px;
    color: white;
}
.Header_end_conteiner {
    display: flex;
    justify-content: space-between;
    margin-right: -240px;
}
.admin_nav {
    text-decoration: none;
    border-radius: 20px;
    background: goldenrod;
    font-size: 22px;
    color: rgb(0, 0, 0);
    height: 40px;
    margin: auto;
}
.admin_nav:hover {
    text-decoration: none;
    border-radius: 20px;
    background: gold;
    font-size: 22px;
    color: rgb(255, 255, 255);
    height: 40px;
    margin: auto;
}
