.Nav_Menu {
  height: 50px;
  border-bottom: rgb(245, 104, 104) solid 0.5px;

  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  z-index: 50;
}
.Nav_Menu_list {
  background-color: white;
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.Nav_Menu_item {
}
.Nav_Menu_link {
  margin-left: 20px;
  color: rgb(61, 59, 59);
  text-decoration: none;
  font-size: 20px;
  display: flex;
}
