.Footer_Wrapper {
    background: #000;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
}
.Footer_Conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Footer_Logo_Conteiner {
    flex: 0 0 200px;
    margin-bottom: 50px;
}
.Footer_Menu_Conteiner {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Head_Menu {
    margin-right: 100px;
    flex-direction: column;
}
.Nav_Menu {
    margin-right: 100px;
    flex-direction: column;
}
.Contact_Menu {
    margin-right: 100px;
    flex-direction: column;
}
.Footer_logo img {
    width: 200px;
   
}
.Footer_logo {
    width: 200px;
    margin-left: -200px;
    color: green;
}
.Nav_Menu_item {
}
.Nav_Menu_link {
    color: rgb(70, 63, 63);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    position: relative;
}
.AiOutlineCaretUp {
    width: 100px;
    float: right;
}
